<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-vuforia"
        version="2.0.0">
    <name>Vuforia</name>
    <description>Cordova Vuforia Plugin</description>
    <license>MIT</license>
    <keywords>cordova,vuforia,image,recognition,augmented,reality</keywords>
    <repo>git@github.com:mattrayner/cordova-plugin-vuforia.git</repo>
    <issue>https://github.com/mattrayner/cordova-plugin-vuforia/issues</issue>

    <author>Matthew Rayner</author>

    <info>
        Cordova Vuforia Plugin version 2.0.0, Copyright (C) 2016 Matthew Rayner
        Cordova Vuforia Plugin comes with ABSOLUTELY NO WARRANTY; see the
        LICENSE file for more information.
        This is free software, and you are welcome to redistribute it
        under certain conditions; see the LICENSE file for more information.
    </info>

    <js-module src="www/VuforiaPlugin.js" name="VuforiaPlugin">
        <clobbers target="navigator.VuforiaPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Plugin Config -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VuforiaPlugin" >
                <param name="android-package" value="com.mattrayner.vuforia.VuforiaPlugin"/>
            </feature>
        </config-file>

        <!-- Add our permissions to the Android Manifest -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:glEsVersion="0x00020000" />
            <uses-feature android:name="android.hardware.camera" />

            <uses-permission android:name="android.permission.CAMERA" />

            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <!-- Add our activities to the Android Manifest -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.mattrayner.vuforia.app.ImageTargets"
                    android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
                    android:screenOrientation="landscape"
                    android:noHistory="true">
            </activity>
        </config-file>

        <!-- Add our required strings -->
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="button_OK">OK</string>
        </config-file>

        <!-- Plugin Source -->
        <source-file src="src/android/VuforiaPlugin.java" target-dir="src/com/mattrayner/vuforia" />

        <!-- Libraries -->
        <source-file src="src/vuforia/jniLibs/armeabi/libVuforia.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/Vuforia.jar" target-dir="libs" />

        <!-- Assets -->
        <resource-file src="src/android/res/drawable/devices.png" target="res/drawable/devices.png" />
        <resource-file src="src/android/res/drawable-hdpi/devices.png" target="res/drawable-hdpi/devices.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/devices.png" target="res/drawable-xxhdpi/devices.png" />
        <resource-file src="src/android/res/layout/camera_overlay.xml" target="res/layout/camera_overlay.xml" />

        <source-file src="src/android/java/com/mattrayner/vuforia/app/ImageTargets.java"
                     target-dir="src/java/com/mattrayner/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ImageTargetRenderer.java"
                     target-dir="src/java/com/mattrayner/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationControl.java"
                     target-dir="src/java/com/mattrayner/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationException.java"
                     target-dir="src/java/com/mattrayner/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationSession.java"
                     target-dir="src/java/com/mattrayner/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/LoadingDialogHandler.java"
                     target-dir="src/java/com/mattrayner/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/MeshObject.java"
                     target-dir="src/java/com/mattrayner/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/ApplicationGLView.java"
                     target-dir="src/java/com/mattrayner/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/Texture.java"
                     target-dir="src/java/com/mattrayner/vuforia/app/utils" />

        <!-- Include our resources -->
        <resource-file src="targets/PluginTest.dat"
                       target="assets/PluginTest.dat" />
        <resource-file src="targets/PluginTest.xml"
                       target="assets/PluginTest.xml" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <hook type="after_plugin_install" src="hooks/AfterPluginInstall.js" />
        <hook type="before_plugin_uninstall" src="hooks/BeforePluginUninstall.js" />

        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="VuforiaPlugin">
                <param name="ios-package" value="VuforiaPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/VuforiaPlugin.h" />
        <source-file src="src/ios/VuforiaPlugin.m" />
        <header-file src="src/ios/ViewController.h" />
        <source-file src="src/ios/ViewController.mm" />

        <framework src="AVFoundation.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="CoreMedia.framework" weak="true" />
        <framework src="CoreMotion.framework" weak="true" />
        <framework src="CoreVideo.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="OpenGLES.framework" weak="true" />
        <framework src="QuartzCore.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />

        <source-file src="src/vuforia/lib/arm/libVuforia.a" target-dir="libs" framework="true" />


        <header-file src="src/ios/ImageTargets/ImageTargetsEAGLView.h" />
        <source-file src="src/ios/ImageTargets/ImageTargetsEAGLView.mm" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/ImageTargets/ImageTargetsViewController.h" />
        <source-file src="src/ios/ImageTargets/ImageTargetsViewController.mm" compiler-flags="-fno-objc-arc"/>


        <source-file src="src/ios/Utils/ApplicationSession.h" />
        <source-file src="src/ios/Utils/ApplicationSession.mm" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/Utils/GLResourceHandler.h" />


        <resource-file src="src/ios/VuforiaPlugin.bundle" />
        <resource-file src="src/ios/Utils/shaders/Line.fragsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/Line.vertsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/Simple.fragsh" target-dir="com.mattrayner.vuforia" />
        <resource-file src="src/ios/Utils/shaders/Simple.vertsh" target-dir="com.mattrayner.vuforia" />


        <resource-file src="targets/PluginTest.dat" target-dir="com.mattrayner.vuforia" />
        <resource-file src="targets/PluginTest.xml" target-dir="com.mattrayner.vuforia" />

        <resource-file src="src/ios/Assets/ImageTargets/close-button.png" target-dir="Resources" />
        <resource-file src="src/ios/Assets/ImageTargets/iOSDevices.png" target-dir="Resources" />
    </platform>
</plugin>
